

.navbar-light .navbar-brand {
    color: navajowhite;
}

.navbar-light .navbar-brand:hover {
    color: white !important;
}

nav a h1{
background-color:#c98474 !important;
}
#jum{
    background-color: #C98474 !important;
}
.card{
	width: 18rem;
	height: 100%;
}

.ze img{
    border: 1px #c98474 solid !important;
    border-radius: 4px !important;
}
	
/*loader*/
.loader{
	background: url('img le jonc/ajax-loader.gif') 50% 50% no-repeat rgba(255, 255, 255, 0.8);
	cursor: wait;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
}
	.loader h1{
		background: none;
		border: none;
		color: #458976;
		font-size: 22px;
		font-family: "Open Sans",sans-serif;
		font-variant: small-caps;
		font-weight: 700;
		height: 700px;
		line-height: 700px;
		margin: 0 0 10px;
		padding: 0;
		text-align: center;
	}
/*Jumbotron2*/
#jumbotron2{
	background-color: #e5d7b2 !important;
}


	/*icon facebook*/
	#facebookicon{
		color: #c98474;
		font-size: 40px;
		position: fixed;
    	right: 20px;
    	bottom: 236px;
	}

	#facebookicon:hover{
		color: #800000;
		font-size: 41px;
		
	}

	#monBouton:hover{
		font-size: 17px;
	}


	/*adaptation de mon écran sur différent format d'écran*/
	@media screen and (max-width: 600px) {
		#facebookicon{
			color: #c98474;
			font-size: 40px;
			position: fixed;
			right: 20px;
			bottom: 272px;
		}
	
		#facebookicon:hover{
			color: #800000;
			font-size: 41px;
		}

	  }

	  /*adaptation de mon écran sur différent format d'écran*/
	  @media screen and (max-width: 400px) {
		#facebookicon{
			color: #c98474;
			font-size: 40px;
			position: fixed;
			right: 20px;
			bottom: 256px;
		}
	
		#facebookicon:hover{
			color: #800000;
			font-size: 41px;
			
		}

	  }

	  /*
	  */
	  