header{
    background-color: #C98474;
}

header a{
    text-decoration: none;
    color:navajowhite;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12Px;
}

a:hover{
    color: black;
}

#jum{
    background-color: #C98474 !important;
}